@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
    name: "sih-2025-major-project";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary:  oklch(65% 0.18 45);
    --color-primary-content: oklch(98% 0.01 45);
    --color-secondary: oklch(55% 0.16 155);
    --color-secondary-content: oklch(98% 0.01 155);
    --color-accent: oklch(58% 0.24 25);
    --color-accent-content: oklch(98% 0.01 25);
    --color-neutral: oklch(62% 0.18 240);
    --color-neutral-content:  oklch(95% 0.01 250);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(98% 0 0);
    --color-success:  oklch(65% 0.17 145);
    --color-success-content: oklch(20% 0.05 145);
    --color-warning: oklch(75% 0.16 85);
    --color-warning-content: oklch(25% 0.05 85);
    --color-error: oklch(60% 0.22 25);
    --color-error-content: oklch(98% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

